/* 
* {
    margin: 0;
    padding: 0;
}


section {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: transparent;
    top: 0;
    z-index: 1000;
}


.Header-items {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}


.Header-items a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 10px 15px;
}
.chari {
    color: red;
  }
  
  .team {
    color:white;
  } */
