
*{
    margin: 0;
    padding: 0;
 }
 #chari{
  
    color: orange;
 }
 #team{
    
    color: white;
  
 }
 .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    /* padding-left: 40px;
    padding-right: 40px; */
    padding: 5px 40px;
    
   
   
 }
 .nav-list{
  
    
 }
 .list-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
   
 }
 .list-items li{
    padding:  10px;
    color: white;
 }
 .list-items li:hover a,
 .list-items li a.active {
    color: orange;
    transition: 0.3s ease;
 }
 .dropdown-content{
    display: none;
 }
 .dropdown i{
   padding: 4px ;
   font-size: 9px;
 }
 #button{
    border: 1px solid orange;
    border-radius: 5px;
    color: orange;
    padding: 6px 8px;
    margin-left: 10px;
 }
 #button i{
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
 }